[Unit]
Description=SoundNet Audio Streaming
After=network.target

[Service]
ExecStart=/usr/local/bin/soundnet server
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
